﻿.small-font {
    font-size:smaller;
}

.small-tab {
    font-size:small;
    padding:15px; 
    margin-right:5px;
}

.table-header {
    font-size:small;
    font-weight:bold;
    
}

.tabul {
    width: 100%; 
    white-space: nowrap;
}

@media (min-width: 350px) {
    .tabul {
        width: 980px; 
        white-space: nowrap;
    }
}
@media (min-width: 980px) {
    .tabul {
        width: 100%; 
        white-space: nowrap;
    }
}
