﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="FirstechData.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Firstech Data</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="/Scripts/css/foundation.css" />

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="/Scripts/css/dashboard.css" />
    <link rel="stylesheet" href="/Scripts/css/style.css" />
    <link rel="stylesheet" href="/Scripts/css/dripicon.css" />
    <link rel="stylesheet" href="/Scripts/css/typicons.css" />
    <link rel="stylesheet" href="/Scripts/css/font-awesome.css" />
    <link rel="stylesheet" href="/Scripts/css/theme.css" />

    <link href="/Content/blueimp-gallery.css" rel="stylesheet" />
    <link href="/Scripts/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css" />
    <link href="/Scripts/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css" />

    <!-- pace loader -->
    <script src="/Scripts/js/pace/pace.js"></script>
    <link href="/Scripts/js/pace/themes/orange/pace-theme-minimal.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Scripts/js/slicknav/slicknav.css" />
    <link href="/Content/Custom.css" rel="stylesheet" />

    <script src="/Scripts/js/vendor/modernizr.js"></script>

    <style>
        @media (min-width: 400px) {
            .leftalign {
                font-size: 17px;
                text-align: left;
            }
        }

        @media (max-width: 400px) {
            .leftalign {
                font-size:13px;
                text-align:left;
            }
        }

    </style>

</head>
<body>
    <form runat="server" enctype="multipart/form-data">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <!-- preloader -->
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- End of preloader -->
        <div class="off-canvas-wrap" data-offcanvas>
            <!-- right sidebar wrapper -->
            <div class="inner-wrap">

                <!-- Right sidemenu -->
                <div id="skin-select" style="top:0px;">
                    <!--      Toggle sidemenu icon button -->
                    <a id="toggle" style="width:0px;">
                        <span class="fa icon-menu" style="visibility:hidden;"></span>
                    </a>
                    <!--      End of Toggle sidemenu icon button -->

                    <div class="skin-part">
                        <div id="toggle tree-wrap">
                            <!-- Profile -->
                            <div class="bg-white" style="text-align:center; vertical-align:middle; height:87px;">
                                <a href="/" style="border-right: 0;"><img src="/Content/Images/firstech-data-logo.png" style="width:150px; height:68px;" /></a>
                            </div>
                            <!-- End of Profile -->

                            <!-- Menu sidebar begin-->
                            <div class="side-bar">
                                <ul id="menu-showhide" class="topnav slicknav">
                                    <li>
                                        <a href="/Search/Search" title="SEARCH BY VEHICLE" runat="server" id="SearchByVehicleMenu">
                                            <i></i>
                                            <span>SEARCH BY VEHICLE</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://accounts.dronemobile.com/dealerlogin" target="_blank" title="DRONE ACTIVATION">
                                            <i class="entypo-link"></i>
                                            <span>DRONE ACTIVATION</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://compustar.idatalink.com/" target="_blank" title="BYPASS FIT GUIDE">
                                            <i class="entypo-link"></i>
                                            <span>BYPASS FIT GUIDE</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://myfirstech.smartkeystarter.com" target="_blank" title="Mid-City Engineering">
                                            <i class="entypo-link"></i>
                                            <span>Mid-City Engineering</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://remotestarttech.info" target="_blank" title="RemoteStartTech.Info">
                                            <i class="entypo-link"></i>
                                            <span>RemoteStartTech.Info</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Search/Document" title="DOCUMENTS" runat="server" id="DocumentMenu">
                                            <i></i>
                                            <span>DOCUMENTS</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Search/VinLookup" title="VIN LOOKUP" runat="server" id="VinLookupMenu">
                                            <i></i>
                                            <span>VIN Lookup</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Search/ProductLookup" title="PRODUCT LOOKUP" runat="server" id="ProductLookupMenu">
                                            <i></i>
                                            <span>Product Lookup</span>
                                        </a>
                                    </li>
                                    <li runat="server" id="AdminMenu">
                                        <a href="/Admin/">
                                            <i></i>
                                            <span>Admin</span>
                                        </a>
                                    </li>
                                    <li runat="server" id="AccountMenu">
                                        <a href="/Account/Manage">
                                            <i></i>
                                            <span>Account</span>
                                        </a>
                                    </li>
                                    <li runat="server" id="LogoutMenu">
                                        <a href="/Account/Logout">
                                            <i></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                    <li runat="server" id="RegisterMenu">
                                        <a href="/Account/Register">
                                            <i></i>
                                            <span>Register</span>
                                        </a>
                                    </li>
                                    <li runat="server" id="LoginMenu">
                                        <a href="/Account/Login">
                                            <i></i>
                                            <span>Log in</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of Rightsidemenu -->

                <div class="wrap-fluid" id="paper-bg">
                    <!-- top nav -->
                    <div class="top-bar-nest" runat="server"  ID="LoginView">
                        <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
                            <ul class="title-area left">
                                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                                <li class="toggle-topbar menu-icon"><a href="#"><span></span></a>
                                </li>
                            </ul>

                            <section class="top-bar-section ">
                                <!-- Right Nav Section -->
                                <ul class="left">
                                </ul>
                                <!-- Left Nav Section -->
                                <ul class="left">
                                </ul>

                                <asp:LoginView runat="server" ViewStateMode="Disabled">
                                    <AnonymousTemplate>
                                        <ul class="right">
                                            <li class=" bg-white">
                                                <a style="background-color:#eee" href="/Account/Register">
                                                    <span class="admin-pic-text text-gray entypo-user-add">Register</span>
                                                </a>
                                            </li>
                                            <li class=" bg-white">
                                                <a style="background-color:#eee" href="/Account/Login">
                                                    <span class="admin-pic-text text-gray entypo-login">Log in</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </AnonymousTemplate>
                                    <LoggedInTemplate>
                                        <ul class="right">
                                            <li class=" has-dropdown bg-white">
                                                <a style="background-color:#eee" href="#">
                                                    <span class="admin-pic-text text-gray">Hi, <%: Context.User.Identity.GetUserName()  %> </span>
                                                </a>

                                                <ul class="dropdown dropdown-nest profile-dropdown">
                                                    <li>
                                                        <i class="icon-folder-open"></i>
                                                        <a href="/Account/Manage">
                                                            <h4>Account<span class="text-blue fontello-record"></span></h4>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <i class="icon-lock"></i>
                                                        <asp:LoginStatus runat="server" LogoutAction="Redirect" LogoutText="Log off" LogoutPageUrl="~/" OnLoggingOut="Unnamed_LoggingOut" />
                                                    </li>
                                                </ul>
                                            </li>
                                            <!--li style="background-color:#eee">
                                                <a class="right-off-canvas-toggle text-gray" style="background-color:#eee" href="#"><span style="font-size: 13px" class="icon-view-list"></span></a>
                                            </li-->
                                        </ul>
                                    </LoggedInTemplate>
                                </asp:LoginView>
                            </section>
                        </nav>
                    </div>
                    <!-- end of top nav -->
                    <!-- Container Begin -->
                    <asp:ContentPlaceHolder ID="MainContent" runat="server">
                    </asp:ContentPlaceHolder>
                    <!-- End of Container Begin -->
                </div>

                <!-- Right Menu -->
                <aside class="right-off-canvas-menu">
                    <!-- whatever you want goes here -->
                </aside>
                <!-- close the off-canvas menu -->
                <a class="exit-off-canvas"></a>
                <!-- End of Right Menu -->
            </div>
            <!-- end paper bg -->

        </div>
        <!-- end of off-canvas-wrap -->
        <footer class="footer">
            <div class="row" >
                <div class="large-3 medium-12 small-12 columns">
                    <div id="footer2" class="leftalign">Please read our <a href="javascript:openDisclaimer()">Disclaimer</a></div>
                </div>
                <div class="large-3 medium-12 small-12 columns">
                    <div id="footer3" class="leftalign"><a href="/Contact">Contact</a></div>
                </div>
                <div class="large-6 medium-12 small-12 columns">
                    <div id="footer4" class="leftalign"><a href="mailto:cstocklin@compustar.com" style="color:#0078a0;">Missing, wrong, or confusing information?</a> &nbsp;&nbsp;&nbsp; Copyright &copy; 2017 Firstech</div>
                </div>
            </div>
        </footer>
        <!-- end of inner-wrap -->


        <!-- main javascript library -->
        <script type='text/javascript' src="/Scripts/js/jquery.js"></script>
        <script type="text/javascript" src="/Scripts/js/waypoints.min.js"></script>
        <script type='text/javascript' src='/Scripts/js/preloader-script.js'></script>
        <!-- foundation javascript -->
        <script type='text/javascript' src="/Scripts/js/foundation.min.js"></script>
        <script type='text/javascript' src="/Scripts/js/foundation/foundation.dropdown.js"></script>
        <!-- main edumix javascript -->
        <script type='text/javascript' src='/Scripts/js/slimscroll/jquery.slimscroll.js'></script>
        <script type='text/javascript' src='/Scripts/js/slicknav/jquery.slicknav.js'></script>
        <script type='text/javascript' src='/Scripts/js/sliding-menu.js'></script>
        <script type='text/javascript' src='/Scripts/js/scriptbreaker-multiple-accordion-1.js'></script>
        <script type="text/javascript" src="/Scripts/js/number/jquery.counterup.min.js"></script>
        <script type="text/javascript" src="/Scripts/js/circle-progress/jquery.circliful.js"></script>
        <script type='text/javascript' src='/Scripts/js/app.js'></script>
        <!-- additional javascript -->

        <script type='text/javascript' src="/Scripts/blueimp-gallery.js"></script>

        <script src="/Scripts/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
        <script src="/Scripts/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script>
        <script src="/Scripts/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
        <script src="/Scripts/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
        <script src="/Scripts/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
        <script type="text/javascript" src="/Scripts/js/marquee.js"></script>

        <asp:ContentPlaceHolder ID="JSContent" runat="server" >
        </asp:ContentPlaceHolder>

        <script>
            $(document).foundation();

            $(document).ready(function () {
                $('.slicknav_menu').prepend('<div class="bg-white"style="text-align:center; border-bottom:1px solid #EFEFEF;">&nbsp;&nbsp;&nbsp;<a href="/" style="border-right: 0;"><img src="/Content/Images/firstech-data-logo.png" style="width:150px; height:68px;" /></a></div>');
                $('.slicknav_icon .fontello-th').removeClass("fontello-th").addClass("fa icon-menu");
                $('.slicknav_icon').addClass("left");
                $('.slicknav_menutxt').addClass("right");
            });

            function openDisclaimer() {
                win = window.open("/Disclaimer.aspx", "Disclaimer", "width=600,height=600,menubar=no,location=no,toolbar=no,scrollbars=yes,resizable=yes")
                win.focus();
            }
        </script>
    </form>
</body>
</html>
